@font-face {
    font-family: "Gilroy-Bold";
    src: url("./fonts/GilroyBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Gilroy-Regular";
    src: url("./fonts/GilroyRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

.center {
    padding-right: calc(50% - 960px);
    padding-left: calc(50% - 960px);
    height: 491px;
}

/*---- начало топ меню ----*/
.top {
    display: flex;
    width: 1920px;
    height: 491px;
    flex-direction: column;
    align-items: center;
}

.top_top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1899px;
    height: 476px;
    border: 1px solid #F30606;
    gap: 30px;
}

.top_content {
    width: 381px;
    height: 291px;
    border: 1px solid #000;
    padding-left: 40px;
    padding-top: 35px;
}

.top_content_img {
    width: 70px;
    height: 70px;
    padding-bottom: 25px;
}

.top_content_text_top {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    height: 30px;
    width: 215px;
    padding-bottom: 17px;
}

.top_content_text_mid {
    width: 310px;
    height: 42px;
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 15px;
    padding-bottom: 25px;
}

.top_content_text_bot {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 11px;
}

/*---- конец топ меню ----*/
/*----начало middle контента----*/


.middle {
    display: flex;
    width: 1920px;
    height: 919px;
    background: #FAFAFA;
    align-items: center;
    justify-content: center;
}

.middle_content {
    display: flex;
    width: 1881px;
    height: 898px;
    border: 1px solid #0A06E8;
    flex-direction: column;
    align-items: center;
}

.middle_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
}

/*--- начало верхнего текста ---*/
.middle_top_title {
    width: 579px;
    height: 56px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 45px;
    padding-top: 92px;
}

.middle_top_text {
    width: 682px;
    height: 48px;
    color: #666;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 16px;
    padding-bottom: 31px;
}

/*--- конец верхнего текста ---*/
/*--- начало блоков контента---*/

.middle_mid {
    display: flex;
    width: 1440px;
    height: 616px;
    border: 1px solid #000;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.middle_mid_block {
    display: flex;
    width: 385px;
    height: 549px;
    border: 1px solid #000;
    flex-direction: column;
    align-items: center;
}

.middle_mid_block_content_img {
    display: flex;
    width: 385px;
    height: 289px;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 22px;
}

.middle_mid_block_content_text_top {
    display: flex;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    justify-content: center;
    padding-bottom: 22px;
}

.middle_mid_block_content_text_mid {
    width: 310px;
    height: 63px;
    color: #AAA;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 15px;
    padding-bottom: 39px;
}

.middle_mid_block_content {
    display: flex;
    border-radius: 50px;
    width: 150px;
    height: 50px;
    background-color: #F25822;
    align-items: center;
    justify-content: center;
}

.middle_mid_block_content_text {
    color: #FFF;
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 13px;
}

/*--- конец блоков контента---*/

/*----конец middle контента----*/