* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Lato";
    src: url("./fonts/Lato-Bold.ttf") format("truetype");
    font-style: normal;
}

.center {
    padding-right: calc(50% - 800px);
    padding-left: calc(50% - 800px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pad_content {
    margin-left: 10px;
    margin-right: 10px;
}

/*---beginning--- Header---*/
.header {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #222;
    height: 75px;
    justify-content: space-around;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 41px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 30px;
}

/*---END---Header---*/
/*---beginning---brand---*/

.brand {
    width: 100%;
    display: flex;
    background-color: #F1E4E6;
    align-items: center;
    justify-content: center;
}

.preview {
    width: 800px;
    height: 764px;
    background-image: url(./img/Layer_57-removebg-preview.png);
}

.description {
    display: flex;
    height: 92px;
    width: 405px;
    align-items: center;
    gap: 16px;
}

.line {
    border: 1px solid #F16D7F;
    background: #F16D7F;
    width: 12px;
    height: 80px;
}

.brand_text {
    width: 377px;
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
}

.LUXERIOUS_text {
    display: flex;
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    justify-content: space-between;
}

.FASHION_text {
    color: #F16D7F;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
}

/*---END---brand---*/
/*---Beginning---content_offer---*/

.content_offer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 65px;
    gap: 30px;
}

.content_offer_groups_all {
    position: relative;
}

.content_offer_groups {
    top: 0;
    position: absolute;
    display: flex;
    width: 360px;
    height: 260px;
    align-items: center;
    flex-direction: column;
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    justify-content: center;
}

.content_offer_groups_text {
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}

.content_offer_groups4 {
    top: 0;
    position: absolute;
    display: flex;
    width: 1140px;
    height: 180px;
    align-items: center;
    flex-direction: column;
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    justify-content: center;
}

/*---END---content_offer---*/
/*---Beginning---offer---*/

.offer {
    max-width: 1140px;
    display: flex;
    padding-top: 96px;
    flex-direction: column;
    align-items: center;
}

.offer_title {
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 48px;
}

.offer_title_text {
    display: flex;
    justify-content: center;
    color: #222;
    font-family: Lato;
}

.offer_title_text2 {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
}

.offer_content_center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.offer_content_price2 {
    display: flex;
    justify-content: center;
}

.offer_content_price2:hover {
    filter: brightness(0.5);
    width: 100%;
}

.offer_content {
    display: flex;
    width: 360px;
    background-color: #F1ECED;
    flex-direction: column;
    position: relative;
}

.offer_content:hover .product__add {
    display: -webkit-box;
    display: flex;
}

.offer_content2 {
    display: flex;
    width: 360px;
    background-color: #F1ECED;
    flex-direction: column;
    position: relative;
}

.offer_content2:hover .product__add {
    display: -webkit-box;
    display: flex;
}

.product__img:hover {
    filter: brightness(0.5);
}

.product__add {
    position: absolute;
    top: 188px;
    left: 111px;
    border: 1px solid #fff;
    width: 139px;
    height: 44px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 11px;
    color: #FFFFFF;
}

.product__add:hover {
    -webkit-box-shadow: 0 0 5px #fff;
    box-shadow: 0 0 5px #fff;
}

.offer_content_price {
    height: 420px;
    display: flex;
    justify-content: center;
}

.offer_content_price_img {
    width: 360px;
    height: 420px;
    position: absolute;
}

.offer_cart {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid rgb(255 255 255 / 86%);
    width: 139px;
    height: 44px;
    position: absolute;
    justify-content: center;
    gap: 10px;
}

.offer_content_price_title {
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    margin-left: 16px;
    margin-top: 24px;
}

.offer_content_price_discreption {
    color: #5D5D5D;
    font-size: 14px;
    margin: 16px 16px 16px 16px;
}

.offer_content_price_total {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    margin-left: 16px;
    margin-bottom: 24px;
}

.all_products {
    padding: 30px 0px 30px 0px;
}

.all_products_but {
    display: flex;
    width: 212px;
    height: 48px;
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #FF6A6A;
    align-items: center;
    justify-content: center;
}

/*---END---offer---*/
/*--- Beginning---планшет версия---*/

@media (min-width: 768px) and (max-width: 1024px) {
    .center {
        padding-right: calc(50% - 512px);
        padding-left: calc(50% - 512px);
    }

    .header {
        display: flex;
        justify-content: space-around;
    }

    .profile {
        display: flex;
        height: 368px;
        align-items: center;
        justify-content: center;
    }

    .brand {
        width: 100%;
        display: flex;
        background-color: #F1E4E6;
        align-items: center;
        justify-content: center;
    }

    .center_brand_text {
        width: 368px;
    }

    .preview {
        display: flex;
        background-image: url(./img/tablet/Layer_57-removebg-preview.png);
        width: 386px;
        height: 368px;
        align-items: center;
        justify-content: center;
    }

    .center_brand_text {
        width: 290px;
    }

    .tablet_img {
        width: 232px;
        height: 167px;
    }

    .tablet_img2 {
        width: 734px;
        height: 116px;
    }

    .content_offer_groups {
        width: 100%;
        height: 100%;
        top: 0;
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: column;
        color: #FFF;
        text-align: center;
        font-family: Lato;
        font-size: 16px;
        justify-content: center;
    }

    .content_offer_groups4 {
        top: 0;
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        flex-direction: column;
        color: #FFF;
        text-align: center;
        font-family: Lato;
        font-size: 16px;
        justify-content: center;
    }

    .line {
        border: 1px solid #F16D7F;
        background: #F16D7F;
        width: 12px;
        height: 70px;
    }

    .brand_text {
        color: #222;
        width: 290px;
        font-family: Lato;
        font-size: 44px;
        font-weight: 900;
    }

    .LUXERIOUS_text {
        display: flex;
        color: #222;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        justify-content: flex-start;
        gap: 10px;
    }

    .FASHION_text {
        color: #F16D7F;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
    }

    .content_offer {
        display: flex;
        padding-top: 65px;
        gap: 19px;
        flex-wrap: wrap;
    }

    .offer_content_price2 {
        height: 420px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .offer_content_price_img {
        width: 360px;
        height: 420px;
        position: absolute;
        background-image: url(./img/tablet/Rectangle15.png);
    }

    .offer_content_price_cart {
        display: flex;
        align-items: center;
        color: #ffffff;
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
        border: 1px solid rgb(255 255 255 / 86%);
        width: 139px;
        height: 44px;
        position: absolute;
        justify-content: center;
        gap: 10px;
    }

    .offer_content_center {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 14px;
        width: 100%;
    }

    .offer_content {
        width: 360px;
        background-color: #F8F8F8;
    }
}

/*--- END---планшет версия---*/
/*--- мобильная версия ---*/

@media (min-width: 320px) and (max-width: 767px) {
    .center {
        padding-right: calc(50% - 383.5px);
        padding-left: calc(50% - 383.5px);
    }

    .none {
        display: none;
    }

    /*---beginning--- Header---*/
    .header {
        width: 100%;
        display: flex;
        background-color: #222;
        height: 75px;
        justify-content: space-between;
    }

    .logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 41px;
        margin-left: 20px;
    }

    .profile {
        margin-right: 20px;
    }

    /*---END---Header---*/
    /*---beginning---brand---*/

    .brand {
        width: 100%;
        height: 375px;
        display: flex;
        background-color: #F1E4E6;
        justify-content: center;
        align-items: center;
    }

    .preview {
        width: 800px;
        height: 764px;
        background-image: url(./img/Layer_57-removebg-preview.png);
    }

    .description {
        display: flex;
        height: 66px;
        width: 263px;
        align-items: center;
        gap: 15px;
        justify-content: center;
    }

    .line {
        border: 1px solid #F16D7F;
        background: #F16D7F;
        width: 12px;
        height: 58px;
    }

    .center_brand_text {
        width: 236px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .brand_text {
        width: 100%;
        color: #222;
        font-family: Lato;
        font-size: 38px;
    }

    .LUXERIOUS_text {
        display: flex;
        color: #222;
        font-family: Lato;
        font-size: 20px;
        gap: 5px;
    }

    .FASHION_text {
        color: #F16D7F;
        font-family: Lato;
        font-size: 20px;
    }

    /*---END---brand---*/
    /*---Beginning---content_offer---*/

    .content_offer {
        max-width: 343px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 65px;
        gap: 30px;
        flex-direction: column;
    }

    .tablet_img {
        width: 100%;
        height: 100%;
    }

    .content_offer_groups_all {
        position: relative;
    }

    .content_offer_groups {
        top: 0;
        position: absolute;
        display: flex;
        width: 100%;
        height: 247px;
        align-items: center;
        flex-direction: column;
        color: #FFF;
        text-align: center;
        font-family: Lato;
        font-size: 16px;
        justify-content: center;
    }

    .content_offer_groups_text {
        color: #F16D7F;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
    }

    .tablet_img2 {
        width: 100%;
        height: 111px;
    }

    .content_offer_groups4 {
        top: 0;
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        flex-direction: column;
        color: #FFF;
        text-align: center;
        font-family: Lato;
        font-size: 16px;
        justify-content: center;
    }

    /*---END---content_offer---*/
    /*---Beginning---offer---*/

    .offer {
        max-width: 100%;
        display: flex;
        padding-top: 96px;
        flex-direction: column;
        align-items: center;
    }

    .offer_title {
        font-size: 30px;
        font-weight: 400;
        padding-bottom: 48px;
    }

    .offer_title_text {
        display: flex;
        justify-content: center;
        color: #222;
        font-family: Lato;
    }

    .offer_title_text2 {
        color: #9F9F9F;
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
    }

    .offer_content_center {
        max-width: 343px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .offer_content_price2 {
        display: flex;
        justify-content: center;
    }

    .offer_content_price2:hover {
        filter: brightness(0.5);
        width: 100%;
    }

    .offer_content {
        display: flex;
        width: 100%;
        background-color: #F1ECED;
        flex-direction: column;
        position: relative;
    }

    .offer_content:hover .product__add {
        display: -webkit-box;
        display: flex;
    }

    .offer_content2 {
        display: flex;
        width: 360px;
        background-color: #F1ECED;
        flex-direction: column;
        position: relative;
    }

    .offer_content2:hover .product__add {
        display: -webkit-box;
        display: flex;
    }

    .product__img {
        width: 100%;
    }

    .product__img:hover {
        filter: brightness(0.5);
    }

    .product__add {
        position: absolute;
        top: 188px;
        left: 111px;
        border: 1px solid #fff;
        width: 139px;
        height: 44px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        display: none;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        gap: 11px;
        color: #FFFFFF;
    }

    .product__add:hover {
        -webkit-box-shadow: 0 0 5px #fff;
        box-shadow: 0 0 5px #fff;
    }

    .offer_content_price {
        height: 420px;
        display: flex;
        justify-content: center;
    }

    .offer_content_price_img {
        width: 360px;
        height: 420px;
        position: absolute;
    }

    .offer_cart {
        display: flex;
        align-items: center;
        color: #ffffff;
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
        border: 1px solid rgb(255 255 255 / 86%);
        width: 139px;
        height: 44px;
        position: absolute;
        justify-content: center;
        gap: 10px;
    }

    .offer_content_price_title {
        color: #5D5D5D;
        font-family: Lato;
        font-size: 14px;
        font-weight: 300;
        margin-left: 16px;
        margin-top: 24px;
    }

    .offer_content_price_discreption {
        color: #5D5D5D;
        font-size: 14px;
        margin: 16px 16px 16px 16px;
    }

    .offer_content_price_total {
        color: #F16D7F;
        font-family: Lato;
        font-size: 16px;
        margin-left: 16px;
        margin-bottom: 24px;
    }

    .all_products {
        padding: 30px 0px 30px 0px;
    }

    .all_products_but {
        display: flex;
        width: 212px;
        height: 48px;
        color: #F26376;
        font-family: Lato;
        font-size: 16px;
        font-weight: 400;
        border: 1px solid #FF6A6A;
        align-items: center;
        justify-content: center;
    }

    /*---END---offer---*/
}

/*--- END --- мобильная версия ---*/